services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: pr_reviewnager
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgres://user:password@db:5432/pr_reviewnager?sslmode=disable"
      PORT: 8080
    depends_on:
      - db

volumes:
  postgres_data:
